.Explore{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color: antiquewhite;
    font-weight: 800;
    border-radius: 5%;
    padding: 10px 20px;
}
.intro-text{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.intro-color{
    color: yellowgreen;

}
.intro-section{
    display: flex;
    margin-bottom: 150px;
}
.intro-div{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.intro-div img{
    width: 80%;
}
.three-box{
    display: flex;
    margin-bottom: 150px;
}
.box{
    
    width: 50%;
    margin-left: 1%;
    border: 0px;
    padding-top: 1%;
    border-radius: 10px;
    background-color: oldlace;
}
.box-intro{
    text-align: center;
    font-size: 40px;
}
span{
    color: orchid;
}
.text{
    font-size: 40px;
    color: slategrey;
}
.font{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color:white ;
    text-align: center;
}
#bottom{
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
.bottom-line{
    background-color: black;
    padding-top: 10px;
}